#flask vars
export FLASK_APP=./run.py
export FLASK_DEBUG=True
export FLASK_CONFIG=development

#redis vars
export REDIS_HOST=redis host
export REDIS_PORT=redis port
export REDIS_PASSWORD=redis password

#postgres vars for python app

export PG_DATABASE=postgres database name
export PG_USER=postgres user
export PG_HOST=postgres host
export PG_PASSWORD=postgres password
export PG_PORT=postgres port
